@import url('http://fonts.googleapis.com/css?family=Droid+Sans|Exo|Capriola');

@width: 940px;
@padding: 10px;

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #15283A;
    font-family: 'Droid Sans', 'Lucida Grande', tahoma, verdana, sans-serif;
    color: #333333;
}

a { color: #555555; }
a:hover { color: #333333; }
a:focus, a:active { outline: none; }

label {
    display: block;
    float: left;
    width: 40%;
}

.disclaimer {
    font-size: 0.7em;
}

input, textarea {
    border: 1px solid #334a5f;
    background-color: #eeeeee;
    &:focus, &:active { background-color: #ffffff; }
}

.constraint {
    width: @width;
    margin: 0 auto;
}

.left { float: left; }
.right { float: right; }
.text-right { text-align: right; }
.halfwidth { width: 49%; }
.center {
    margin: 0 auto;
    text-align: center;
}

.pad { padding: 10px; }
.padtop { padding-top: 20px; }
.padbottom { padding-bottom: 20px; }
.topmargin { margin-top: 10px; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.exo { font-family: 'Exo', sans-serif; }
h1 { font-family: 'Capriola', sans-serif; }

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.biginput { font-size: 1.5em; }

.shadow {
    -moz-box-shadow: 0 2px 2px #888888;
    -webkit-box-shadow: 0 2px 2px #888888;
    box-shadow: 0 2px 2px #888888;
    position: relative;
}

.raiseshadow {
    -moz-box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    -webkit-box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    position: relative;
}

#header {
    color: #f7f7f7;

    .navbar {
        height: 40px;
        line-height: 40px;
        background-color: #15283A;
        border-bottom: 1px solid #666677;
        text-align: right;

        ul {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li {
                display: inline;
                margin-left: 15px;

                a {
                    color: #bbb;
                    text-decoration: none;
                    display: inline-block;
                }

                a:hover {
                    color: #f7f7f7;
                }
            }
        }

        h1.name {
            text-align: left;
            float: left;
            font-size: 1.3em;

            a {
                text-decoration: none;
                color: #f7f7f7;
            }
        }
    }

    .headercontent { text-shadow: 0 2px 4px #000000; }
}

.sub-blue {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#223f5a), to(#334a5f));
    background: -webkit-linear-gradient(top, #223f5a, #334a5f);
    background: -moz-linear-gradient(top, #223f5a, #334a5f);
    background: -ms-linear-gradient(top, #223f5a, #334a5f);
    background: -o-linear-gradient(top, #223f5a, #334a5f);
}

.sub-green {
    background-color: #77CD00;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DB800), to(#77CD00));
    background: -webkit-linear-gradient(top, #4DB800, #77CD00);
    background: -moz-linear-gradient(top, #4DB800, #77CD00);
    background: -ms-linear-gradient(top, #4DB800, #77CD00);
    background: -o-linear-gradient(top, #4DB800, #77CD00);
}

.sub-orange {
    background-color: #E36700;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E36700), to(#EE9300));
    background: -webkit-linear-gradient(top, #E36700, #EE9300);
    background: -moz-linear-gradient(top, #E36700, #EE9300);
    background: -ms-linear-gradient(top, #E36700, #EE9300);
    background: -o-linear-gradient(top, #E36700, #EE9300);
}

.sub-red {
    background-color: #B80000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B80000), to(#D30202));
    background: -webkit-linear-gradient(top, #B80000, #D30202);
    background: -moz-linear-gradient(top, #B80000, #D30202);
    background: -ms-linear-gradient(top, #B80000, #D30202);
    background: -o-linear-gradient(top, #B80000, #D30202);
}

.meter {
    height: 20px;
    position: relative;
    display: block;
}

.whitebg { background-color: #f8f8f8; }
.lightbg { background-color: #dfdfd9; }
.darkbg { background-color: #bfbfb9; }
.verydarkbg { background-color: #9f9f99; }

.content {
    background-color: #ffffff;
    border: 1px solid #cccccc;

    .header {
        background-color: #f3f3f3;
        border-bottom: 1px solid #cccccc;
        padding: 0 10px 0 10px;
        font-size: 13px;
    }
}

.error {
    border: 1px solid red;
    background-color: #ffeeee;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px 0 10px;
}

.submit_button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#75AE5C), to(#67A54B));
    background: -webkit-linear-gradient(top, #75AE5C, #56943A);
    background: -moz-linear-gradient(top, #75AE5C, #56943A);
    background: -ms-linear-gradient(top, #75AE5C, #56943A);
    background: -o-linear-gradient(top, #75AE5C, #56943A);
    border-radius: 5px;
    border: #67A54B;
    font-weight: bold;
    color: #f8f8f8;
    width: 100%;

    &:active {
        box-shadow: inset 5px 5px 5px #56943A;
    }

    &::-moz-focus-inner {
        border: none;
    }
}

#footer {
    color: #cccccc;
    font-size: 0.7em;
    width: @width;

    a { color: #cccccc; }
}