@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Exo');

@width: 940px;
@padding: 10px;
@paddedwidth: @width - @padding;

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #15283A;
    font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, sans-serif;
    color: #333333;
}

a { color: #555555; }
a:hover { color: #333333; }
a:focus, a:active { outline: none; }

label {
    display: block;
    float: left;
    width: 40%;
}

input[type=text], textarea {
    border: 1px solid #334a5f;
    background-color: #eeeeee;
    &:focus, &:active { background-color: #ffffff; }
}

.constraint {
    width: @width;
    margin: 0 auto;
}

.paddedconstraint {
    width: @paddedwidth;
    margin: 0 auto;
}

.left { float: left; }
.right { float: right; }
.halfwidth { width: 49%; }
.center {
    margin: 0 auto;
    text-align: center;
}

.pad { padding: 10px; }
.padtop { padding-top: 10px; }
.padbottom { padding-bottom: 10px; }
.topmargin { margin-top: 10px; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.exo { font-family: 'Exo', sans-serif; }

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.biginput { font-size: 1.5em; }

.shadow {
    -moz-box-shadow: 0 2px 2px #888888;
    -webkit-box-shadow: 0 2px 2px #888888;
    box-shadow: 0 2px 2px #888888;
    position: relative;
}

#header {
    color: #f7f7f7;

    .navbar {
        height: 40px;
        line-height: 40px;
        background-color: #15283A;
        border-bottom: 1px solid #666677;
        text-align: right;

        ul {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li {
                display: inline;
                margin-left: 15px;

                a {
                    color: #bbb;
                    text-decoration: none;
                    display: inline-block;
                }

                a:hover {
                    color: #f7f7f7;
                }
            }
        }

        h1.name {
            text-align: left;
            float: left;
            font-size: 1.3em;

            a {
                text-decoration: none;
                color: #f7f7f7;
            }
        }
    }

    .headercontent {
        text-shadow: 0 2px 4px #000000;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#223f5a), to(#334a5f));
        background: -webkit-linear-gradient(top, #223f5a, #334a5f);
        background: -moz-linear-gradient(top, #223f5a, #334a5f);
        background: -ms-linear-gradient(top, #223f5a, #334a5f);
        background: -o-linear-gradient(top, #223f5a, #334a5f);
    }
}

.whitebg { background-color: #f8f8f8; }
.lightbg { background-color: #dfdfd9; }
.darkbg { background-color: #bfbfb9; }
.verydarkbg { background-color: #9f9f99; }

.content {
    background-color: #ffffff;
    border: 1px solid #cccccc;

    .header {
        background-color: #f3f3f3;
        border-bottom: 1px solid #cccccc;
        padding: 0 10px 0 10px;
        font-size: 13px;
    }
}

#footer {
    color: #cccccc;
    font-size: 0.7em;
    width: @paddedwidth;

    a { color: #cccccc; }
}